* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 2500px;
}

.cards {
  width: 100%;
  max-width: 1199px;
  margin: 0 auto;
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 25px;
  .product-card {
    background-color: #eee;
    padding: 10px;
  }
}

button {
  display: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  width: 32px;
  height: 32px;
  border-radius: 5px;
  border: none;
  background-color: royalblue;
  color: #eee;
  position: fixed;
  bottom: 25px;
  left: 25px;
}
